nav a{
    text-decoration: none;
    font-family: 'myFont2', Helvetica, sans-serif;
    color:rgb(255, 0, 0);
   padding: 5px 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    border-style: solid;
  border-color: rgb(255, 0, 0); /* red */
    font-size: 20px;
    transition: 0.2s;
    text-align: center;
    float: left;
    margin: 10px;
    align-items:center;
    & :hover{
        color:rgb(255, 255, 255)
    }

    
}
nav a:hover{
    font-size: 130%;
    color:rgb(255, 255, 255)
}
header{
    background-image: url("godsees3.png"); /* Specify the image path */
        background-repeat: no-repeat;           /* Prevents the image from tiling */
        background-size: cover;                 /* Scales the image to cover the entire page */
        background-attachment: fixed;
    text-align: center;
    position: relative;  
         padding: 50px 50px;
         border-radius: 5px;
         box-shadow: red;
         border: 2px solid rgb(255, 0, 0);
        outline: #000000 solid 10px;
}

@font-face {
  font-family: myFont; /* set name */
  src: url(font4.otf); /* url of the font */
}
@font-face {
  font-family: myFont2; /* set name */
  font-size: 20px;
  src: url(font2.otf); /* url of the font */
}
@font-face {
  font-family: myFont3; /* set name */
  font-size: 20px;
  src: url(font3.otf); /* url of the font */
}
body{
    background-color:red;
}
body h1{
    color: black;
    border: 1px solid black;
    font-size: 50px;
     padding: 5px 3px;
     text-align: center;
    background-color: red;
    font-family: 'myFont3', Helvetica, sans-serif;
}
body img.HIM{
    padding: 10px 30%;
}